:root {
    --primary-color: #0d253f;
    --secondary-color: #e03d1b;
    --tertiary-color: #ffffff;
}

body {
    background-color: #090f29;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    color: #e03d1b;
}

.vr {
    width: 2px;
    color: #e03d1b;
}

.navbar-brand {
    font-weight: 700;
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
    font-weight: 500;
}

.nav-link.active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.section-title {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    background-color: white;
}

.card-title {
    color: var(--primary-color);
    font-weight: 600;
}

.search-bar {
    max-width: 500px;
    margin: 0 auto 2rem;
}

.feature-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-title {
    color: var(--secondary-color);
    font-weight: 600;
}


.navbar-brand {
    font-weight: 700;
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
    font-weight: 500;
}

.nav-link.active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.section-title {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    background-color: white;
}

.card-title {
    color: var(--primary-color);
    font-weight: 600;
}

.search-bar {
    max-width: 500px;
    margin: 0 auto 2rem;
}